<app-header></app-header>
<div class="conatiner">
  <div class="card-body">
    <h2 class="card-title">
      Friend Requests
    </h2>
    <!-- <form method="POST" [formGroup]="notificationForm">
      <table>
        <th>
          requests
        </th>
        <tr *ngFor="let d of pending"></tr>
        <td>{{ d.email }}</td>
      </table>
    </form> -->
    <div class="steamline m-t-40">
      <div class="sl-item">
        <div class="sl-left">
          <img
            class="img-circle"
            alt="user"
            src="../../../assets/images/3.jpg"
          />
        </div>
        <div class="sl-right">
          <div>
            <a href="#">Tiger Sroff</a>
            <span class="sl-date">5 minutes ago</span>
          </div>
          <div class="desc">
            <a class="btn m-t-10 m-r-5 btn-rounded btn-outline-success"
              >Accept</a
            >
            <a class="btn m-t-10 btn-rounded btn-outline-danger">Reject</a>
          </div>
        </div>
      </div>
      <div class="sl-item">
        <div class="sl-left">
          <img
            class="img-circle"
            alt="user"
            src="../../../assets/images/3.jpg"
          />
        </div>
        <div class="sl-right">
          <div>
            <a href="#">Tiger Sroff</a>
            <span class="sl-date">5 minutes ago</span>
          </div>
          <div class="desc">
            <a class="btn m-t-10 m-r-5 btn-rounded btn-outline-success"
              >Accept</a
            >
            <a class="btn m-t-10 btn-rounded btn-outline-danger">Reject</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
