<app-dashboard></app-dashboard>
<br/>
<br/>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10  col-lg-6">
        <p>
            1. These Terms<br />
            1.1 What these Terms & Conditions cover. These are the terms and conditions on
            which we provide you access to the Content (as defined below) available
            through the App, including full access to all available Content through a
            Subscription (as defined below) and access to any other goods, services or
            digital content we supply to you or provide you access to through the App.<br /><br />
            1.2 Why you should read them. Please read these Terms & Conditions carefully.
            These Terms & Conditions tell you who we are, how we will provide products and
            services to you, how we may change or end the contract, what to do if there is
            a problem and other important information. You understand that by using our
            App, you agree to these Terms & Conditions. If you do not agree to these Terms
            & Conditions, to our Privacy Policy, or, as applicable, to the Apple Media
            Services Terms and Conditions or the Google Play Terms of Services (each, the
            “End-User License Agreement”), you should not use the App or access any of its
            Content.<br />
            <br />
            2. INFORMATION ABOUT US AND HOW TO CONTACT US<br />
            2.1 Who we are. We are The Tapping Solution, LLC, a Connecticut limited
            liability company.<br />
            2.2 How to contact us. You can contact us by emailing
            contact@thetappingsolution.com. 2.3 How we may contact you. If we have to
            contact you we will do so by writing to you at the email address or postal
            address you provide to us.<br />
            2.4 “Writing” includes emails. When we use the words “writing” or “written” in
            these terms, this includes emails.
            <br />3. OUR CONTRACT WITH YOU <br />3.1 Your eligibility to use our App. The
            App is offered and available to users subject to the End-User License
            Agreement, these Terms & Conditions and our Privacy Policy, who are 18 years
            of age or older and who reside in the United States or any of its territories
            or possessions or where use of the App does not violate any laws applicable
            within that jurisdiction. If you are registering an account or using the App
            on behalf of an individual or entity other than yourself, you represent that
            you are authorized by such individual or entity. If you enable a minor to
            access or to use the App, you agree to fully compensate us and/or indemnify us
            if we are damaged by such minor’s use of the Services. <br />
            3.2 Your acceptance. Your acceptance of these Terms &Conditions occurs when
            you download our App and/or access or otherwise use our Services. <br />3.3 No
            Warranties. Please note that we offer the Content through the App “AS IS” and
            without any warranties, either express or implied by law. Access to the
            Content requires that you provide us with your email address and establish a
            password, or log in through your Google+ or Facebook account (the “Sign-up”).
            Full access to the Content requires that you purchase a Subscription (as
            defined below). If your Sign-up is on behalf of an individual or entity other
            than yourself, you represent that you are authorized by such individual or
            entity to accept these Terms & Conditions together with our Privacy Policy and
            the End-User License Agreement on such individual’s or entity’s behalf. If you
            enable a minor to use the App, you agree to fully compensate us and/or
            indemnify us if we are damaged by such minor’s use of the Content. The safety
            and security of your information also depends on you. Where we have given you
            (or where you have chosen) a password for access to certain parts of our App,
            you are responsible for keeping this password confidential. You should not
            share your password with anyone. <br />3.4 Your Use of the App. You may use
            the App for lawful, non-commercial purposes only. Without limiting the
            foregoing, you agree that you shall not: use the App in any manner that could
            damage, disable, overburden, or impair the Company, or interfere with any
            other party’s use and enjoyment of the App; attempt to gain unauthorized
            access to the App through hacking, password mining or any other means, or
            otherwise attempt to bypass any measures the Company may use to prevent or
            restrict access to the App or Content; copy, modify, adapt, translate, or
            reverse engineer any portion of the App or its Content; remove any copyright,
            trademark or other proprietary rights notices contained in, on or through the
            App or in or on any Content or other material obtained via the App; modify,
            adapt, appropriate, reproduce, distribute, translate, create derivative works
            or adaptations of, publicly display, republish, repurpose, sell, trade, or in
            any way exploit the App or the Content, except as expressly authorized by the
            Company; not knowingly transmit false or misleading information through the
            App; use the App or any of its Content for any research related purpose
            without the written consent from an executive of the Company; use any robot,
            spider, site search/retrieval application, or other automated device, process
            or means to access, retrieve, harvest, scrape or index any portion of the App
            or Content create user accounts by automated means or under false or
            fraudulent pretenses;or use the App in any manner that does not comply with
            the Company’s rules and policies and all applicable laws, rules, and
            regulations.<br />
            3.5 Changes to these Terms. We may change these Terms & Conditions or the
            Privacy Policy referenced herein at any time, as we reasonably deem
            appropriate. Upon any change in these Terms & Conditions, your continued use
            of the App or accessing the Content following such change shall constitute
            your affirmative acknowledgement of the Terms & Conditions, the modifications,
            and your agreement to abide and be bound by the Terms & Conditions and
            referenced Privacy Policy, as amended. If at any time you choose not to accept
            these Terms & Conditions or the Privacy Policy, including following any such
            modifications hereto, then you may not use the App or access the Content.<br />
            3.6 Trademarks. The Company’s name, the Company logo, the phrase“The Tapping
            Solution”, and all related names, logos, product and service names, designs
            and slogans are trademarks of the Company or its affiliates or licensors. You
            must not use such trademarks without the prior written permission of an
            executive officer of the Company. All other names, logos, product and service
            names, designs and slogans on the App are the trademarks of their respective
            owners. <br />3.7 End-User License Agreement. The limited, non-transferable
            license you are provided to download and use the App is for your own personal
            use and is subject to the terms of the End-User License Agreement that you
            accept in conjunction with downloading the App from the Apple Store or Google
            Play as well as these Terms & Conditions and the Privacy Policy referenced
            herein. 3.8 Auto-renewal of Subscriptions. If you purchase a monthly or yearly
            subscription, your subscription shall renew automatically for additional one
            month or one year terms (as applicable) unless terminated by you in accordance
            with the applicable End-User License Agreement. You will be charged for each
            automatic renewal of your subscription term in accordance with the terms of
            the applicable End-User License Agreement. You can manage or terminate your
            subscription via your Apple Store or Google Play account settings (as
            applicable). 3.9 Feedback. To the extent you provide the Company with
            information on how you feel before and after Tapping (as defined below), any
            feedback regarding the Content, ideas, or other suggestions, whether or not
            patentable that directly concern enhancements, improvements or other changes
            to the App, Content, or Services (such ideas or suggestions, “Feedback”), the
            Company shall have all right, title and interest in and to such Feedback, and
            you hereby assign and agree to assign to the Company all right, title and
            interest in and to such Feedback. You acknowledge and agree the Company may
            use the Feedback in any manner it chooses, including but not limited to in the
            Company’s research presentations, and marketing materials. 4. OUR PRODUCT 4.1
            The Product and your Access. The Content as defined below is available to you
            through the App. Some of the Content is available to you simply by downloading
            the App and accepting these Terms &Conditions. Full access to all the
            available Content may be obtained by purchasing a monthly, annual or
            “lifetime” subscription as defined below (collectively, a “Subscription”). As
            used herein, the “Content” means the information and materials related to
            Meridian Tapping (“Tapping”) (an energy-oriented method based on the emerging
            field of energy psychology) made available via the App, including methods,
            processes, videos, protocols, articles, downloads, meditations and other
            information and materials that are not intended to be medical or psychological
            advice or diagnosis, but which are intended to potentially reduce stress and
            which are for your own personal use. Although the prevailing premise of
            Tapping is that the cause of negative emotions is a disruption in the body’s
            energy system and that Tapping assists in clearing these disruptions, the
            benefits of Tapping are not proven and you should consider Tapping
            experimental and by accessing or using the Content, you agree to assume any
            associated risks, known or unknown, and you acknowledge and agree that we
            offer no warranties, that we limit our liability and that you agree to
            indemnify us as detailed in Section 13 below. If you delete your contributions
            from the App, copies of your contributions may remain viewable in cached and
            archived pages, or might have been copied or stored by other App users. We
            urge you to be careful about giving out information in public areas of the App
            like message boards. The information you share in public areas may be viewed
            by any user of the App. If you provide your phone number to us directly or
            through a third-party for the specific purpose of receiving an SMS message
            with a link to our App, you will receive such SMS message. Standard text
            message rates will apply. You can log into our App using sign-in services such
            as Facebook Connect or an Open ID provider. These services will authenticate
            your identity, provide you the option to share certain personal information
            (such as your name and email address) with us, and to pre-populate our sign-up
            form. Services like Facebook Connect give you to the option to post
            information about your activities on our Products or to your profile page to
            share with others within your network.<br />
            4.2 Access through Subscriptions. Your access to Content commences when you
            download the App and Sign-up. Your full access to the Content commences when
            you choose a monthly, annual, or “lifetime” Subscription and pay the
            applicable fee and any applicable taxes. A “lifetime” subscription provides
            you will full access to the Content for so long as the Company (or its
            successors or assigns) makes the Content available via the App.The Company
            makes no warranties, express or implied, as to the length of time the Content
            will be made available via the App or the duration of its corporate existence.
            Should the Company cease to make the Content or App available, or dissolve or
            otherwise cease to exist, all Subscriptions shall immediately terminate and
            you will no longer be able to access to the Content. The Company does not
            intend to imply a refund policy and no such policy exists with regard to the
            Company’s cessation of existence, except as may be available to you under the
            End-User License Agreement.<br />
            4.3 Third-party processor. The Company uses a third-party processor and does
            not have access to your payment information. 4.4 WE DO NOT OFFER MEDICAL OR
            PSYCHOLOGICAL ADVICE. ALL CONTENT AND ANY OTHER INFORMATION PRESENTED ON THE
            APP IS NOT INTENDED TO REPRESENT THAT TAPPING MAY BE USED TO DIAGNOSE, CURE,
            TREAT, OR PREVENT ANY MEDICAL PROBLEM OR PSYCHOLOGICAL DISORDER. THE CONTENT
            IS FOR INFORMATIONAL PURPOSES ONLY.THE CONTENT PROVIDED IN THIS APP IS NOT A
            SUBSTITUTE FOR THE ADVICE, DIAGNOSIS, OR TREATMENT FROM A PHYSICIAN,
            PSYCHOTHERAPIST OR OTHER QUALIFIED HEALTH CARE PROFESSIONAL. YOU SHOULD NOT
            CONSIDER USE OF THE APP OR CONTENT A RECOMMENDATION THAT YOU STOP SEEING ANY
            OF YOUR HEALTH CARE PROFESSIONALS OR USING PRESCRIBED MEDICATION, IF ANY,
            WITHOUT CONSULTING WITH YOUR HEALTH CARE PROFESSIONAL. THE COMPANY STRONGLY
            ADVISES THAT YOU SEEK PROFESSIONAL ADVICE AS YOU DEEM APPROPRIATE. ALTHOUGH
            THE CONTENT IS PROVIDED BY PERSONS WITH EXTENSIVE EXPERIENCE IN TAPPING, THE
            CONTENT HAS NOT BEEN DEVELOPED OR PROVIDED BY PSYCHOTHERAPISTS, PHYSICIANS, OR
            OTHER LICENSED PROFESSIONAL HEALTH CARE PROVIDERS. 4.5 YOU ACCEPT ALL
            POTENTIAL RISKS ASSOCIATED WITH USE OF THE APP. YOU ACKNOWLEDGE AND AGREE THAT
            TAPPING IS AN EXPERIMENTAL APPROACH TO PERSONAL WELL BEING AND THAT ITS RISKS,
            BENEFITS, AND THE EXTENT OF ITS EFFECTIVENESS, IF ANY, ARE NOT FULLY KNOWN.YOU
            THEREFORE AGREE TO ASSUME AND ACCEPT FULL RESPONSIBILITY FOR ANY AND ALL RISKS
            ASSOCIATED WITH USING THIS APP AND THE CONTENT.ALTHOUGH SOME PEOPLE REPORT
            HAVING POSITIVE EXPERIENCES FROM TAPPING, IT IS POSSIBLE TO EXPERIENCE
            EMOTIONAL DISTRESS, PHYSICAL DISCOMFORT, OR OTHER ADVERSE EMOTIONAL OR
            PHYSICAL REACTION AS A RESULT OF TAPPING, INCLUDING BUT NOT LIMITED TO THE
            RESURFACING OR FADING OF VIVID OR TRAUMATIC MEMORIES. IF YOU EXPERIENCE ANY
            EMOTIONAL DISTRESS OR PHYSICAL DISCOMFORT WHILE USING THIS APP OR THE CONTENT,
            THE COMPANY STRONGLY RECOMMEND YOU STOP USING THE APP AND SEEK THE ADVICE AND
            CARE OF A MEDICAL PROFESSIONAL.<br />
            5. YOUR RIGHTS TO MAKE CHANGES If you wish to make a change to your
            Subscription, please contact the source from which you purchased and
            downloaded the App (Apple Store for iOS devices and Google Play for Android
            devices).<br />
            6. OUR RIGHTS TO MAKE CHANGES Changes to the Content or Pricing. We may change
            the App and/or the Content at any time in any regard and in our sole
            discretion, including but not limited to adding or deleting Content or
            implementing updates to reflect changes in relevant laws. We may change the
            pricing of any of the Subscriptions at any time in our sole discretion.<br />
            7. PROVIDING ACCESS <br />7.1 When we will provide the access to the Content.
            Your access to the Content commences when you download the App; accept these
            Terms & Conditions, Privacy Policy and End-User License Agreement, and
            Sign-up. We will supply the Services to you through your Subscription until
            you delete the App or we terminate your account in accordance with these Terms
            & Conditions. <br />7.2 We are not responsible for delays outside our control.
            If access to the Content is interrupted or delayed by an event outside our
            control we will take reasonable steps to minimize the effect of the delay and
            will not be liable for delays caused by the event.<br />
            7.3 Reasons we may suspend or terminate access to the Content to you. We may
            have to suspend your access to the Content to: (a) deal with technical
            problems or make minor technical changes; (b) update the Content to reflect
            changes in relevant laws and regulatory requirements; (c) make changes to the
            Content in our sole discretion or at the request of the Apple Store or Google
            Play; (d) address requests or directives from law enforcement or other
            authority; or (e) due to your violation of these Terms & Conditions.<br />
            7.4 Apple or Google, as applicable will suspend access to the Content if you
            do not pay. If you do not pay for the access to the Content pursuant to the
            term of your Subscription or the automatic renewals under your Subscription,
            access to the Content will be suspended until you have paid us the outstanding
            amounts. We will not charge you for the access during the period for which
            access to the Content is suspended. <br />7.5 You represent and warrant that
            you will use the App, Content, and Services in accordance with the these Terms
            & Conditions, the Privacy Policy, the End-User License Agreement, and with all
            applicable laws and regulations (including without limitation any local laws
            or regulations in your country, state, city, or other governmental area,
            regarding online conduct and acceptable content, and including all applicable
            laws regarding the transmission of technical data exported from the United
            States or the country in which you reside). <br />8. SUBSCRIPTIONS AND
            PAYMENTS ARE GOVERNED BY THE END-USER LICENSE AGREEMENT<br />
            8.1 Your monthly and annual Subscriptions will automatically renew unless
            otherwise cancelled by you. 8.2 Payment issues. Any questions regarding
            payments should be directed to the source from which you downloaded the App
            (Apple Store or Google Play) and are governed by the applicable End-User
            License Agreement.<br />
            9. HOW TO TERMINATE THE SERVICES <br />9.1 To terminate your access to the
            App, please contact the source from which you downloaded the App (Apple Store
            or Google Play). We do not offer any refunds and all sales are final. Your
            refund, if any, will be made in accordance with the End-User License Agreement
            from the source from which you downloaded the App (Apple Store or Google
            Play). <br />9.2 Upon any termination, discontinuation or cancellation of
            Services or your account, all provisions of these Terms & Conditions which by
            their nature should survive will survive, including, without limitation,
            ownership provisions, warranty disclaimers, limitations of liability, and
            dispute resolution provisions.<br />
            10. OUR RIGHTS TO END THE CONTRACT <br />10.1 We may terminate your access to
            the App at any time for any reason or for no reason, in our sole discretion,
            including but not limited to breach of these Terms & Conditions or your
            failure to timely make any Subscription payment.<br />
            11. IF THERE IS A PROBLEM WITH THE SUBSCRIPTION<br />
            11.1 How to tell us about problems. If you have any questions or complaints
            about the Subscription, please contact us. You can email our customer service
            team at contact@thetappingsolution.com. <br />12. PRICE AND PAYMENT 12.1 Where
            to find the price for the Subscription. We reserve the right to change our
            Subscription plans or adjust pricing for our service or any components thereof
            in any manner and at any time as we may determine in our sole and absolute
            discretion. The price of the Subscription will be the price indicated on the
            order pages when you placed your Subscription order directly through the
            App.The monthly and annual Subscriptions will be subject to automatic renewals
            in accordance with the End-User License Agreement. <br />12.2 When you must
            pay and how you must pay. All payments go through the source from which you
            downloaded the App (such as, Apple App Store or Google Play). You must
            purchase a Subscription in order to obtain full access to the Content. Once
            you download the App and accept these Terms & Conditions and Privacy Policy as
            well as the End-User License Agreement, you will have limited access to the
            Content without a Subscription.<br />
            13. WE OFFER NO WARRANTIES; WE LIMIT OUR LIABILITY TO YOU; AND YOU AGREE TO
            INDEMNIFY US. <br />13.1 No Warranty. YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT
            USE OF THE CONTENT ACCESSIBLE TO YOU THROUGH THE APP AND USE OF THE APP ITSELF
            IS AT YOUR SOLE RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE
            APP AND ANY CONTENT AVAILABLE THROUGH THE APP OR ANY SERVICES PERFORMED OR
            PROVIDED TO YOU ARE PROVIDED “AS IS” AND “AS AVAILABLE,” WITH ALL FAULTS AND
            WITHOUT WARRANTY OF ANY KIND, AND THE COMPANY HEREBY DISCLAIMS ALL WARRANTIES
            AND CONDITIONS WITH RESPECT TO THE APP, ANY CONTENT AVAILABLE TO YOU THROUGH
            THE APP AND ANY SERVICES, WHETHER EXPRESS, IMPLIED, OR STATUTORY, INCLUDING
            BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND/OR CONDITIONS OF
            MERCHANTABILITY, OF SATISFACTORY QUALITY, OF FITNESS FOR A PARTICULAR PURPOSE,
            OF ACCURACY, AND OF NON-INFRINGEMENT OF THIRD-PARTY RIGHTS. NO ORAL OR WRITTEN
            INFORMATION OR ADVICE GIVEN BY THE COMPANY OR ITS AUTHORIZED REPRESENTATIVE
            SHALL CREATE A WARRANTY. SHOULD THE APP CONTENT, OR SERVICES PROVE DEFECTIVE,
            YOU ASSUME THE ENTIRE COST OF ANY RESULTING HARM, INJURY, DAMAGE OR OTHER
            LIABILITY. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES
            OR LIMITATIONS ON APPLICABLE STATUTORY RIGHTS OF A CONSUMER, SO THE ABOVE
            EXCLUSION AND LIMITATIONS MAY NOT APPLY TO YOU. 13.2 Limitation of Liability.
            TO THE EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL THE COMPANY OR ITS
            MANAGERS, MEMBERS, EMPLOYEES, OR AGENTS BE LIABLE FOR PERSONAL INJURY OR ANY
            INCIDENTAL, SPECIAL, INDIRECT, OR CONSEQUENTIAL DAMAGES WHATSOEVER, INCLUDING,
            WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, BUSINESS
            INTERRUPTION, LOSS OF LIFE, OR ANY OTHER DAMAGES OR LOSSES, ARISING OUT OF OR
            RELATED TO YOUR USE OF OR INABILITY TO USE THE APP AND THE CONTENT, NOR ANY
            LOSS OR DAMAGE DUE TO VIRUSES OR OTHER MALICIOUS SOFTWARE THAT MAY INFECT YOUR
            DEVICE, COMPUTER EQUIPMENT, SOFTWARE, DATA OR OTHER PROPERTY CAUSED BY YOU
            ACCESSING, USING OR DOWNLOADING FROM THE APP, OR FROM TRANSMISSIONS VIA EMAILS
            OR ATTACHMENTS RECEIVED FROM US, HOWEVER CAUSED, REGARDLESS OF THE THEORY OF
            LIABILITY (CONTRACT, TORT, OR OTHERWISE) AND EVEN IF THE COMPANY HAS BEEN
            ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW
            THE LIMITATION OF LIABILITY FOR PERSONAL INJURY, OR OF INCIDENTAL OR
            CONSEQUENTIAL DAMAGES, SO THIS LIMITATION MAY NOT APPLY TO YOU.IF YOU ARE A
            CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE SECTION 1542, WHICH
            STATES, IN PART: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE
            CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF
            EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS
            SETTLEMENT WITH THE DEBTOR”. In no event shall the Company’s total liability
            to you for all damages (other than as may be required by applicable law in
            cases involving personal injury) exceed the amount paid to the Company for use
            of the App or fifty dollars ($50.00), if you have not had any payment
            obligations to the Company for the App, as applicable. The foregoing
            limitations will apply even if the above stated remedy fails of its essential
            purpose. We do not exclude or limit in any way our liability to you where it
            would be unlawful to do so.<br />
            13.3 Indemnification. You agree that the Company is not responsible for any
            harm that the use of the App, the Content, or the Services may cause. You
            agree to indemnify, defend and hold us, our employees, contractors, managers,
            members, agents, parent, other affiliated companies, suppliers, successors,
            and assigns harmless from and against any and all liabilities, claims, demands
            and expenses, including attorney’s fees, made by any third party that arise
            from or are related to (a) your access to or use of the App, Content, or
            Services, (b) any action or inaction taken by you or anyone else as a result
            of your access to or use of the App, Content, or Services, or (c) the
            violation of these Terms & Conditions, the End-User License Agreement, or any
            intellectual property or other right of any person or entity, by you or any
            third party you have authorized to act on your behalf.
          </p>
      </div>
      </div>
<app-footer></app-footer>
