<router-outlet></router-outlet>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-header></app-header>
<div class="sidenav">
  <a routerLink="/aboutss"
    >About Us<span class="glyphicon glyphicon-home" aria-hidden="true"></span
  ></a>

  <a routerLink="/friend">
    Friend<span class="glyphicon glyphicon-user" aria-hidden="true"></span
  ></a>

  <a routerLink="/search"
    >Search Friend<span
      class="glyphicon glyphicon-search"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/list">
    Friend List<span class="glyphicon glyphicon-list" aria-hidden="true"></span
  ></a>
  <a routerLink="/notification"
    >Notifications<span
      class="glyphicon glyphicon-bell"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing">
    File Sharing<span
      class="glyphicon glyphicon-share-alt"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing/photo">
    Upload file<span
      class="glyphicon glyphicon-circle-arrow-up"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing/uploaded">
    My Drive<span
      class="glyphicon glyphicon-circle-arrow-up"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing/received">
    Received files<span
      class="glyphicon glyphicon-circle-arrow-up"
      aria-hidden="true"
    ></span
  ></a>
</div>
<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>Uploaded Files</h2>
    </div>
    <ul class="row">
      <li
        *ngFor="
          let i of imagePath | paginate: { itemsPerPage: 8, currentPage: p }
        "
        class="col-12 col-md-6 col-lg-3"
      >
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure>
            <img
              src="http://localhost:3001/{{ i.name }}"
              class="img-responsive"
              alt=""
            />
            <p>{{ i.name }}</p>
            <!-- <button class="btn btn-primary" (click)="delete(i.name)">
              delete
            </button> -->
            <button
              type="button"
              class="btn btn-info btn-lg"
              data-toggle="modal"
              data-target="#myModal"
              (click)="setName(i.name)"
            >
              Share
            </button>
          </figure>
        </div>
      </li>
    </ul>
    <div class="paginate">
      <pagination-controls
        class="pagination-class"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>

  <div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h3 style="margin-left: 10%" class="modal-title">Friend List</h3>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <ul class="row">
              <li *ngFor="let p of pending[0]" class="col-12 col-md-6 col-lg-3">
                <figure>
                  <h4>
                    <div class="col-sm-6">
                      <p>{{ p.email }}</p>
                      <input
                        type="checkbox"
                        name="sendfile"
                        value="{{ p.email }}"
                        class="friend"
                      />
                      Send File<br />
                    </div>
                  </h4>
                </figure>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="send()">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
