<router-outlet></router-outlet>
<div class="main">
  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Sign Up</h2>
          <form
            method="POST"
            [formGroup]="registrationForm"
            (ngSubmit)="onSubmit()"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="name"></label>
              <input
                type="text"
                id="name"
                formControlName="name"
                placeholder="Your Name"
              />
            </div>
            <div>
              <span
                *ngIf="
                  !registrationForm.get('name').valid &&
                  registrationForm.get('name').touched
                "
              >
                Name is required
              </span>
            </div>
            <br />
            <br />
            <div class="form-group">
              <label for="dob"></label>
              <input
                type="date"
                id="date"
                formControlName="dob"
                placeholder="Date of birth"
              />
            </div>
            <div>
              <span
                *ngIf="
                  !registrationForm.get('dob').valid &&
                  registrationForm.get('dob').touched
                "
              >
                Date of birth is required
              </span>
              <br />
              <br />
            </div>
            <br />
            <div class="form-group">
              <label for="email"></label>
              <input
                type="email"
                name="email"
                id="email"
                formControlName="email"
                placeholder="Your Email"
              />
            </div>
            <div>
              <span
                *ngIf="
                  !registrationForm.get('email').valid &&
                  registrationForm.get('email').touched
                "
              >
                Email is required
              </span>
            </div>
            <br />
            <br />
            <div class="form-group">
              <label for="password"></label>
              <input
                type="password"
                name="password"
                id="password"
                formControlName="password"
                placeholder="Password"
              />
            </div>
            <div>
              <span
                *ngIf="
                  !registrationForm.get('password').valid &&
                  registrationForm.get('password').touched
                "
              >
                Password is required
              </span>
            </div>
            <div class="row card">
              <div class="col-sm-12">
                <div class="btn">
                  <input
                    type="file"
                    id="image"
                    name="image"
                    #file
                    formControlName="image"
                    (change)="preview($event)"
                  />
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <br /><i class="glyphicon glyphicon-open-file"></i>
            <br />
          </form>
        </div>
        <div class="signup-image">
          <figure>
            <img
              src="../../../assets/images/images.jpeg"
              alt="sing up image"
              *ngIf="!imgURL"
            />
            <div class="row card">
              <div class="col-sm-12">
                <img [src]="imgURL" *ngIf="imgURL" />
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>
