<app-header></app-header>
<div class="container-fluid ">
  <div class="row content">
    <h1>Welcome {{ username }}</h1>
    <div class="col-sm-6">
      <h2>
        Want to Share file?
        <br />
        Share file<br />
        <a routerLink="/file-sharing">Share File </a>
      </h2>
    </div>
    <div class="col-sm-6">
      <h2>
        Want to Send Friend Request?
        <br />
        Friend Request
        <br />
        <a routerLink="/friend">Friends</a>
      </h2>
    </div>
  </div>
</div>

<app-footer></app-footer>
