<router-outlet></router-outlet>
<app-header></app-header>
<div class="sidenav">
  <a routerLink="/aboutss"
    >About Us<span class="glyphicon glyphicon-home" aria-hidden="true"></span
  ></a>

  <a routerLink="/friend">
    Friend<span class="glyphicon glyphicon-user" aria-hidden="true"></span
  ></a>

  <a routerLink="/search"
    >Search Friend<span
      class="glyphicon glyphicon-search"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/list">
    Friend List<span class="glyphicon glyphicon-list" aria-hidden="true"></span
  ></a>
  <a routerLink="/notification"
    >Notifications<span
      class="glyphicon glyphicon-bell"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing">
    File Sharing<span
      class="glyphicon glyphicon-share-alt"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing/photo">
    Upload file<span
      class="glyphicon glyphicon-circle-arrow-up"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing/uploaded">
    My Drive<span
      class="glyphicon glyphicon-circle-arrow-up"
      aria-hidden="true"
    ></span
  ></a>
  <a routerLink="/file-sharing/received">
    Received files<span
      class="glyphicon glyphicon-circle-arrow-up"
      aria-hidden="true"
    ></span
  ></a>
</div>
<h1 style="padding-left: 30%;">
  Welcome to ShareApp Friends Module
  {{ username }}
</h1>
<div class="row card">
  <p></p>
  <h2 style="padding-left: 20%;">
    You can search for a friend send them friend request, see your notifications
    and friend list
  </h2>
</div>
