<app-dashboard></app-dashboard>

<div class="row">
  <div class="col-sm-10">
    <div class="container">
      <h2>
        List of registered users
      </h2>
      <table>
        <th>
          Registered At
        </th>
        <th>
          Name
        </th>
        <th>
          Status
        </th>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <br />
      <br />
    </div>
  </div>
</div>

<!-- <pagination-controls
  class="pagination-class"
  (pageChange)="p = $event"
></pagination-controls> -->
